body{
    background-image: url(fb-homepage-bg.jpg); 
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header{
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    border-radius: 0%;
    margin: 80px 540px 60px 460px;
    width: 430px;
    height: 545px;
    border-radius: 10px;
    color: #1c1e21;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.up{
    padding: 15px;
    line-height: 0.8;
}

.sign-up-text{
    font-size: 40px;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
}

.quick{
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    line-height: 1.34;
}

#fname{
    width: 190px;
    height: 15px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 20px;
    margin: 15px 10px 0px 15px;
    background-color: rgba(238, 238, 238, 0.5);
}

#lname{
    height: 15px;
    width: 190px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 20px;
    margin: 15px 15px 10px 0px;
    background-color: rgba(238, 238, 238, 0.5);
}

#mnumber{
    height: 15px;
    width: 395px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 20px;
    margin: 0px 15px 10px 15px;
    background-color: rgba(238, 238, 238, 0.5);
}

#password{
    height: 15px;
    width: 395px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 20px;
    margin: 0px 15px 10px 15px;
    background-color: rgba(238, 238, 238, 0.5);
}

#dob{
    height: 15px;
    width: 125px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 15px;
    margin: 0px 10px 10px 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

#mob{
    height: 15px;
    width: 120px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 15px;
    margin: 0px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

#yob{
    height: 15px;
    width: 120px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 15px;
    margin: 0px 15px 10px 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

input[value="female"]{
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px 10px 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

#male{
    height: 15px;
    width: 120px;
    border: 5px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

#custom{
    height: 15px;
    width: 120px;
    border: 5px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

.terms{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 15px;
}

#terms{
    line-height: 1.34;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-left: 15px;
    color: rgb(133, 130, 130);
}

#terms2{
    line-height: 1.34;
    padding: 10px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-left: 15px;
    color: rgb(133, 130, 130);
}

input[type=button]{
    border: 1px solid rgb(243, 243, 243);
    background-color: rgb(5, 124, 5);
    border-radius: 5px;
    margin: 15px 130px 10px 115px;
    align-items: center;
    width: 190px;
    height: 37px;
    font-size: large;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    cursor: pointer;
}

.button:hover{
    background-color: green;
    opacity: 0.7;
}

a{
    color: blue;
}

a:hover{
    text-decoration: underline;
}

